<form class="col-md-12">
  <div class="form-group col-md-6">
    <label for="firstName">First Name</label>
    <input type="text" name="first_name" class="form-control" ng-model="employee.employees.first_name" placeholder="First Name"/>
  </div>
  <div class="form-group col-md-6">
    <label for="lastName">Last Name</label>
    <input type="text" name="last_name" class="form-control" ng-model="employee.employees.last_name" placeholder="Last Name"/>
  </div>
  <div class="form-group col-md-6">
    <label for="git_Username">Github Username</label>
    <input type="text" name="idNumber" class="form-control" ng-model="employee.employees.idNumber" placeholder="ID Number"/>
  </div>
  <div class="form-group col-md-6">
    <label for="shoutout">Shoutout</label>
    <input type="text" name="title" class="form-control" ng-model="employee.employees.title" placeholder="Title"/>
  </div>
  <label for="shoutout">Shoutout</label>
  <input type="text" name="sakary" class="form-control" ng-model="employee.employees.salary" placeholder="Salary"/>
</div>
  <button type="submit" ng-click="employee.addEmployee())">Submit</button>
</form>
